<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    {% load staticfiles %}
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
    <li class="active">Send Message</li>
</ol>

<div class="container">
    <div class="row">
        <h1>Contact Info</h1>
        {% if obj %}
        {% for k in obj %}
        <h3>Name : {{k.first_name}} {{k.last_name}}</h3>
        <h3>Number : {{k.number}}</h3><br>
        <button class="btn btn-primary" onclick="window.location='{% url 'sendMessage' k.id %}'">Send Message</button>
    </div>
</div>

{% endfor %}
{% endif %}
</body>
</html>